@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: circular;
    font-display: swap;
    src: url(src/assets/fonts/Ñircular-font/Circular/CircularStd-Medium.otf);
  }

*{
    font-family:circular ;
}

.active {
    color:turquoise;
}

.active > div {
    background-color: #3f3f46;
}

body {
    background-color: #18181b;
    color: whitesmoke;
}