@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .editName {
        @apply bg-zinc-700 rounded outline-none caret-teal-400 px-1 w-full
    }
}

@font-face {
    font-family: circular;
    font-display: swap;
    src: url(/src/assets/fonts/Ñircular-font/Circular/CircularStd-Medium.otf);
  }

*{
    font-family:circular ;
}

.active {
    color:turquoise;
}

.active > div {
    background-color: #3f3f46;
    /* zinc 700 */
}

body {
    background-color: #18181b;
    background-color: rgb(154, 154, 154);
    color: whitesmoke;
}
